@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}


body{
  background-color: var(--light-color);
  transition: 0.3s;
}

ul{
list-style: none;
padding: 0;
}

:root{
  --light-color: #f3f3f3;
  --dark-color: black;
}

nav{
  background-color: var(--dark-color);
}

a{
  text-decoration: none;
  color: var(--light-color);
}